.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.bg_grey_2 {
  background-color: #F6F6F6;
}

.bg_white {
  background-color: white;
}

.typo_light {
  font-weight: 300;
}

.typo_standard {
  font-weight: 400;
}

.typo_bold {
  font-weight: 500;
}

.card-padding {
  padding: 12px;
}

@keyframes appear {
  1% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
    visibility: visible;
    z-index: 1;
  }
}
@keyframes disappear {
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes loading-spinner {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes appear-choice {
  1% {
    transform: translateY(2rem);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spinner_1 {
  0% {
    transform: translateX(-15px);
  }
  20% {
    transform: translateX(15px);
  }
  80% {
    transform: translate(15px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes spinner_2 {
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(15px);
  }
  70% {
    transform: translateX(15px);
  }
  80% {
    transform: translateX(0);
  }
}
@keyframes spinner_3 {
  30% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  70% {
    transform: translateX(0);
  }
}
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1800px;
}

#bloc_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p, h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: unset;
}

.button {
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  box-shadow: 3px 5px 10px #CACACA;
  transition: opacity 500ms, box-shadow 700ms;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 3px 5px 10px #7e7e7e;
}

#spinner {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
  animation: disappear 1s 5s forwards;
}
#spinner div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
#spinner div.elt_1 {
  animation: spinner_1 1.5s ease-in 10;
}
#spinner div.elt_1:hover {
  animation-play-state: paused;
}
#spinner div.elt_2 {
  animation: spinner_2 1.5s ease-in 10;
}
#spinner div.elt_2:hover {
  animation-play-state: paused;
}
#spinner div.elt_3 {
  animation: spinner_3 1.5s ease-in 10;
}
#spinner div.elt_3:hover {
  animation-play-state: paused;
}
#spinner div.elt_1 {
  background-color: #9356DC;
}
#spinner div.elt_2 {
  background-color: #FF79DA;
}
#spinner div.elt_3 {
  background-color: #99E2D0;
}

footer {
  color: white;
  background-color: #353535;
  width: 100%;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
  font-size: 20px;
}
footer ul.footer-list {
  list-style-type: none;
  padding: 5px 0 15px 15px;
  line-height: 1.6;
  width: 90%;
}
footer ul.footer-list li.utensils:before {
  content: "\f2e7";
  margin-right: 15px;
}
footer ul.footer-list li.handshake:before {
  content: "\f4c4";
  margin-right: 15px;
  font-size: 12px;
}
footer ul.footer-list li:before {
  font-family: "FontAwesome";
}
footer li a {
  color: white;
  cursor: pointer;
}
footer li a:hover {
  border-bottom: 1px solid white;
}
footer li a :visited {
  color: white;
}

header {
  position: relative;
  width: 100%;
}
header .fas {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}
header img {
  height: 25px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  height: 250px;
}

.menu {
  margin-top: -60px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  max-width: 1300px;
}
.menu .button {
  padding-left: 50px;
  padding-right: 50px;
  margin: 40px 0;
}

.restaurant_head {
  font-family: "Shrikhand", cursive;
  justify-content: space-around;
  padding: 35px 0;
}
.restaurant_head__name {
  font-size: 27px;
}
.restaurant_head__fav {
  font-size: 25px;
  line-height: 1.5;
}
.restaurant_head__container {
  justify-content: space-between;
  width: 90%;
}

.course {
  align-items: center;
  margin-bottom: 15px;
}
.course .container_cat {
  width: 90%;
  animation: appear-choice 1s forwards;
}
.course__cat {
  text-transform: uppercase;
}
.course__div {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin: 5px 0 15px 0;
  align-self: start;
}
.course__choice {
  box-shadow: 5px 5px 5px #eaeaea;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 90%;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  transition: all 400ms;
  overflow: hidden;
  opacity: 0;
  width: 100%;
}
.course__choice__container {
  width: 90%;
}
.course__choice:nth-of-type(1) {
  animation: appear-choice 1s 150ms forwards;
}
.course__choice:nth-of-type(2) {
  animation: appear-choice 1s 300ms forwards;
}
.course__choice:nth-of-type(3) {
  animation: appear-choice 1s 450ms forwards;
}
.course__choice:nth-of-type(4) {
  animation: appear-choice 1s 600ms forwards;
}
.course__choice:nth-of-type(5) {
  animation: appear-choice 1s 750ms forwards;
}
.course__choice:nth-of-type(6) {
  animation: appear-choice 1s 900ms forwards;
}
.course__choice:nth-of-type(7) {
  animation: appear-choice 1s 1050ms forwards;
}
.course__choice:nth-of-type(8) {
  animation: appear-choice 1s 1200ms forwards;
}
.course__choice:nth-of-type(9) {
  animation: appear-choice 1s 1350ms forwards;
}
.course__choice:nth-of-type(10) {
  animation: appear-choice 1s 1500ms forwards;
}
.course__choice__name {
  font-size: 17px;
  margin-bottom: 5px;
  grid-column: 1;
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.course__choice__price {
  grid-row: 2;
  grid-column: 2;
  justify-self: right;
  align-self: center;
  padding-right: 12px;
}
.course__choice__text {
  grid-row: 2;
  grid-column: 1;
  padding-top: 0;
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}
.course__choice__checked {
  color: white;
  background-color: #99E2D0;
  font-size: 20px;
  width: 0;
  transition: all 300ms ease-in;
}
.course__choice__checked .fa-circle-check {
  transition: transform 1s;
}
.course__choice__content {
  flex-basis: 100%;
  grid-template: 50% 50%/1fr 20%;
  transition: all 300ms;
  padding: 12px;
  align-items: center;
  width: 100%;
}
.course__choice:hover .course__choice__content {
  width: calc(100% - 60px);
}
.course__choice:hover .course__choice__content + .course__choice__checked {
  width: 60px;
}
.course__choice:hover .course__choice__content + .course__choice__checked > .fa-circle-check {
  transform: rotate(360deg);
}

@media (min-width: 1100px) {
  .menu {
    grid-template: auto 1fr auto/1fr 1fr 1fr;
  }
  .menu .restaurant_head {
    grid-column: 1/span 3;
    text-align: center;
  }
  .menu .restaurant_head__container {
    justify-content: center;
    width: 95%;
  }
  .menu .restaurant_head__name {
    flex-basis: 100%;
    font-size: 35px;
  }
  .menu .button {
    grid-row: 3;
    grid-column: 1/span 3;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  box-shadow: 0px -2px 10px 0px #353535;
  width: 100%;
}

#bloc_page.home {
  opacity: 0;
  animation: appear 1s 5s both;
}

#user_loc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: #EAEAEA;
  width: 100%;
  color: #353535;
}
#user_loc i {
  margin-right: 15px;
}

.intro {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  margin-bottom: 50px;
  width: 100%;
}
.intro p, .intro h1 {
  width: 75%;
  margin-bottom: 20px;
}
.intro p {
  font-weight: 300;
  color: #4D4D4D;
  font-size: 17px;
}

#guide {
  width: 90%;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 40px;
}
#guide .steps {
  align-items: flex-start;
}
#guide h2 {
  align-self: flex-start;
  margin-bottom: 30px;
  flex-basis: 100%;
}
#guide .step {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px #EBEBEB;
  padding: 25px 0;
  margin-bottom: 20px;
  margin-left: 13px;
  position: relative;
  min-width: 270px;
  max-width: 800px;
  width: 100%;
}
#guide .step div {
  position: absolute;
  color: white;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#guide .step i {
  color: #8D8D8D;
  font-size: 20px;
  padding: 0 25px 0 37px;
}
#guide .step p {
  font-weight: 500;
}
#guide .step:last-child {
  background-color: #F5EDFF;
}
#guide .step:last-child i {
  color: #9356DC;
}

#restaurants {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 50px 0;
  max-width: 1760px;
}
#restaurants h2 {
  width: 90%;
  margin-bottom: 20px;
}
#restaurants .card {
  position: relative;
  box-shadow: 5px 5px 5px #eaeaea;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 90%;
  cursor: pointer;
  background-color: white;
}
#restaurants .card img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#restaurants .card .new {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #269E80;
  background-color: #99E2D0;
  border-radius: 2px;
  padding: 7px 12px;
  font-size: small;
}
#restaurants .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
#restaurants .card .info .text .loc {
  font-weight: 300;
}
#restaurants .card .info .text .name {
  font-weight: 500;
}
#restaurants .card .info .fav {
  margin: 0 15px;
  position: relative;
  font-size: 25px;
}

.heart {
  z-index: 1;
  color: transparent;
  -webkit-text-stroke: 1px black;
  transition: opacity 1s;
}
.heart--hover {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  transition: opacity 500ms;
  background-clip: text;
  color: transparent;
  justify-self: flex-end;
}
.heart:hover {
  opacity: 0;
}
.heart:hover + .heart--hover {
  opacity: 1;
}

@media (min-width: 500px) {
  #restaurants {
    display: grid;
    grid-template: 50px 1fr 1fr/1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    padding-left: 40px;
  }
  #restaurants h2 {
    grid-column: 1/span 2;
    width: 95%;
  }
}
@media (min-width: 1000px) {
  .steps {
    flex-direction: row;
    justify-content: space-between;
  }

  .step {
    margin: 0 15px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  #restaurants {
    grid-template: 50px 1fr/1fr 1fr 1fr 1fr;
  }
  #restaurants h2 {
    grid-column: 1/span 4;
  }
}
@media (width > 1800px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
