.button {
    @include button;
}

#spinner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    @extend .flex-center;
    font-size: 5rem;
    z-index: 1;
    animation: disappear 1s $spinner-duration forwards;
    i {
        animation: loading-spinner calc($spinner-duration / 3) linear infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}