header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    // box-shadow: 0px 1px 9px 0px #686868;
}

#user_loc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: $color-grey-back-1;
    width: 100%;
    color: $color-grey-footer;
    & i {
        margin-right: 15px;
    }
}

.intro {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    margin-bottom: 50px;
    & p, h1 {
        width: 75%;
        margin-bottom: 20px;
    }
    & p {
        font-weight: 300;
        color: #4D4D4D;
        font-size: 17px;
    }
}

#guide {
    width: 90%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    & h2 {
        align-self: flex-start;
        margin-bottom: 30px;
    }
    & .steps {
        display: flex;
        align-items: center;
        background-color: $color-grey-back-2;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0px #EBEBEB;
        padding: 25px 0;
        margin-bottom: 20px;
        margin-left: 13px;
        position: relative;
        & div {
            position: absolute;
            color: white;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & i {
            color: #8D8D8D;
            font-size: 20px;
            padding: 0 25px 0 37px;
        }
        & p {
            font-weight: 500;
        }
    }
    & .steps:last-child {
        background-color: #F5EDFF;
        & i {
        color: $color-primary;
        }
    }
}

#restaurants {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-grey-back-2;
    padding: 50px 0;
    & h2 {
        width: 90vw;
        margin-bottom: 20px;
    }
    & .card {
        position: relative;
        @include card;
        & img {
            object-fit: cover;
            width: 100%;
            height: 50vw;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        & .new {
            position: absolute;
            top: 5%;
            right: 5%;
            color: #269E80;
            background-color: #99E2D0;
            border-radius: 2px;
            padding: 7px 12px;
            font-size: small;
        }
        & .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px;
            & .text {
                & .loc {
                    font-weight: 300;
                }
                & .name {
                    font-weight: 500;
                }
            }
            & .fav {
                margin: 0 15px;
                position: relative;
                font-size: 25px;
                // transition: all 1s;
            }
        }
    }
}

.heart {
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 1px black;
    transition: opacity 1s;
    &--hover {
        position: absolute;
        opacity: 0;
        background: linear-gradient($color-primary, $color-secondary);
        transition: opacity 500ms;
        background-clip: text;
        color: transparent;
        justify-self: flex-end;
    }
    &:hover {
        opacity: 0;
        + .heart--hover {
            opacity: 1;
        }
    }
}