@keyframes appear {    
    1% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
        visibility: visible;
        z-index: 1;
    }
}

@keyframes disappear {
    100% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes loading-spinner {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes appear-choice {
    1% {
        transform: translateY($move-up-amount);
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spinner_1 {
    0% {
        transform: translateX(-15px);
    }

    20% {
        transform: translateX(15px);
    }

    80% {
        transform: translate(15px);
    }

    100% {
        transform: translateX(-15px);
    }

}

@keyframes spinner_2 {
    20% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(15px);
    }
    
    70% {
        transform: translateX(15px);
    }

    80% {
        transform: translateX(0);
    }
}

@keyframes spinner_3 {
    30% {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(30px);
    }

    70% {
        transform: translateX(0);
    }
}