@mixin card {
    box-shadow: 5px 5px 5px rgb(234,234,234);
    border-radius: $card-border-radius;
    margin-bottom: 15px;
    width: 90%;
    cursor: pointer;
    background-color: white;
}

@mixin button {
    background: linear-gradient(-5deg, $color-primary, $color-secondary);
    font-family: $font-roboto;
    color: white;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    justify-self: center;
    width: fit-content;
}