$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
// loc bg
$color-grey-back-1: #EAEAEA;
// cards & intro bg
$color-grey-back-2: #F6F6F6;
// guide 3rd step bg
$color-grey-back-3: #F5EDFF;
$color-grey-footer: #353535;
$font-shrik: 'Shrikhand', cursive;
$font-roboto: 'Roboto', sans-serif;